header>img{
    max-width: 20%;
}
header{
    background-color: #395c6b;
}
nav>a{
    background-color: #f3f1e9;
    color: #c0ab8c;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
}
h1{
    background-color: #c0ab8c;
    color: #f3f1e9;
    text-align: center;
    margin: 5% 40%;
}
#aboutme{
    background-color: #c0ab8c;
    color: #f3f1e9;
    padding: 1rem;
    margin: 1rem 2rem;
    align-items: flex-start;
}
#aboutme>img{
    max-width: 30%;
    border: 10px solid #f3f1e9;
}
body{
    background-color: #f3f1e9;
}