header>img{
    max-width: 25%;
}
header{
    background-color: #395c6b;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
nav>a{
    background-color: #f3f1e9;
    color: #c0ab8c;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    margin: .5rem 3rem;
}
h1{
    background-color: #c0ab8c;
    color: #f3f1e9;
    text-align: center;
    margin: 5% 35%;
    padding: 1rem;
}
#aboutme{
    background-color: #c0ab8c;
    color: #f3f1e9;
    padding: 1rem;
    margin: 0 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto;
}
#aboutme>img{
    max-width: 80%;
    border: 8px solid #f3f1e9;
    grid-column: 1/2;
}
body{
    background-color: #f3f1e9;
}
.pictures{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 0 2rem;
    justify-content: space-evenly;
}
.pictures>img{
    max-height: 13rem;
}
footer{
    background-color: #395c6b;
    color: #f3f1e9;
    text-align: center;
    margin-top: 2rem;
    padding: .5rem;
}
#work{

}
.jfk{
    background-color: #c0ab8c;
    color: #f3f1e9;
    padding: 1rem;
    width: 40%;
}
.walmart{
    background-color: #c0ab8c;
    color: #f3f1e9;
    padding: 1rem;
    width: 40%;
}
.wilderness{
    background-color: #c0ab8c;
    color: #f3f1e9;
    padding: 1rem;
    width: 40%;
}